
body{
  padding: 0;
  margin: auto;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.main{
  background-color: lavender;
  background-image: url('./images/background.jpg');
  background-size: cover;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.form1{
  background-color: rgba(0, 0, 0, 0.4);
  /* display: flex; */
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  height: 75vh;
  font-size: 18px;
  max-width: 500px;
  width: 85%;
  font-weight: bold;
  color: #fff;
  border-radius: 10px;
  border: none;
}
.form1 .inputs{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  height: 70px;
  width: 90%;
  position: relative;
}
.inputs label{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 94%;
  height: 30px;
}
.inputs input{
  height: 36px;
  padding-left: 15px;
  color: #000017;
  width: 90%;
  font-size: 16px;
  font-weight: bold;
  border-radius: 6px;
  outline: none;
  border: none;
  background-color: #fff;
}
.inputs .toggle{
  /* background-color: aqua; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  position: absolute;
  top: 30px;
  right: 16px;
  color: #000010;
  cursor: pointer;
}
.inputs .toggle i:last-child{
  display: none;
}
#pwd1,
#pwd2{
  letter-spacing: 14px;
}

.inputs input:focus{
  outline: solid 2px #00b7ff;
  background-color: #fff;
}
.submit:focus{
  outline: none;
  background-color: #fff;
  color: #050567;
}
/* .submit{
  background-color:yellow;
  height: 38px;
  width: 40%;
  border: none;
  border-radius: 20px;
  color: #06068f;
  font-size: 16px;
  font-weight: bold;
} */
.submit.one:hover{
  transform: scale(1.025);
  cursor: pointer;
  transition: all ease-in-out 0.2s;
}
.submit.two:hover{
  transform: scale(1.025);
  cursor: pointer;
  transition: all ease-in-out 0.2s;
}
.form1 a{
  color: #fff;
  text-decoration: underline;
  cursor: pointer;
}

.form1 .small{
  position: absolute;
  bottom: -20px;
  width: 92%;
  height: 20px;
  margin-top: 3px;
  color: #ff002b;
  visibility: hidden;
}

/* form2 */
.form2{
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  /* display: none; */
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  height: 40vh;
  font-size: 18px;
  max-width: 500px;
  width: 85%;
  font-weight: bold;
  color: #fff;
  border-radius: 10px;
  border: none;
}
.form2 a{
  color: #fff;
  text-decoration: underline;
  cursor: pointer;
}
.submit{
  background-color:rgba(0, 0, 0, 0.75);
  height: 38px;
  width: 40%;
  border: none;
  border-radius: 20px;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
}
#pwd3{
  letter-spacing: 14px;
}
.form2 .inputs1{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  height: 70px;
  width: 90%;
  position: relative;
}
.inputs1 label{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 94%;
  height: 30px;
}
.inputs1 input{
  height: 36px;
  padding-left: 15px;
  color: #00001c;
  width: 90%;
  font-size: 16px;
  font-weight: bold;
  border-radius: 6px;
  outline: none;
  border: none;
  background-color: #fff;
}
.inputs1 .toggle{
  /* background-color: aqua; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  position: absolute;
  top: 30px;
  right: 16px;
  color: #000012;
  cursor: pointer;
}
.inputs1 .toggle i:last-child{
  display: none;
}
.inputs1 input:focus{
  outline: solid 2px #00b7ff;
  background-color: #fff;
}

/* registration page navbar */
  .main nav{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.4);
    border-bottom: 1px dotted #e2e2e2;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .main nav p{
    color: #fff;
    font-size: 20px;
    font-weight: bold;
  }


  /* registration footer */
  .main footer{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.75);
    height: 40px;
    border-top: 1px dotted #dbdbdb;
  }

  .main footer p{
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .main footer strong{
    font-size: 25px;
    margin-right: 2px;
  }
  .main footer .social-icons{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 200px;
    width: 80%;
    height: 30px;
  }
   .main footer .social-icons .s-icon-link{
        font-size: 20px;
        font-weight: bold;
        color: #fff;
        text-decoration: none;
   }
   .main footer .social-icons .s-icon-link:hover{
       transform: scale(1.055);
       transition: all 0.2s ease-in-out;
       cursor: pointer;
   }