*{
  box-sizing: border-box;
  margin: auto;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding: auto;
}

body{
  background-color: #eaeaea;
}
.logo{
  height: 30px;
  border-radius: 50%;
}
/* registration */
nav{
  background-color: #06066a;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 500;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 60px;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  border-bottom: dotted rgb(21, 126, 126) 1px;
}
nav p{
  text-transform: uppercase;
  font-size: 25px;
  background-image: linear-gradient(to right, #ffff00 0%, #d0d025 25%, #d2d284 50%, #ffff1f 75%, #ffff00 100%);
  background-size: 30%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color:transparent;
  display: flex;
}

/* nav button */
nav button{
  height: 38px;
  width: 106px;
  cursor: pointer;
  background-color: #f5f5f5;
  border: none;
  border-radius: 20px;
  font-weight: bold;
  font-size: 18px;
  white-space: nowrap;
  position: relative;
}
nav button a{
  display: flex;
  align-items: center;
  justify-content: center;
  color: #06066a;
  text-decoration: none;
  z-index: 100;
  height: 38px;
  position: relative;
}
nav button a:hover{
  z-index: 500;
  color: #060152;
  transition: all 0.2s ease-in-out;
}
nav button::after{
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  /* background: #caffed; */
  background: #ffd890;
  transition: all 0.2s  ease-in-out;
  border-radius: 18px;
}
nav button:hover:after{
  height: 100%;
  transition: all ease-in-out 0.3s;
}

nav main{
  font-size: 22px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 36px;
  padding: 2px 8px;
  border-radius: 2px;
  position: relative;
}
nav .drop-down{
  background-color: #06066a;
  position: absolute;
  top: 0;
  margin-top: -100%;
  width: 300px;
  height: 421px;
  padding: 10px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.drop-down h5{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 80%;
  font-size: 18px;
  border-radius: 4px;
}
.drop-down h4:hover{
  color: yellow;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.drop-down h5:hover{
  background-color: #f5f5f5;
  color: #06066a;
  cursor: pointer;
  transition: all ease-in-out 0.2s;
}
.drop-down #close{
  display: flex;
  align-items: center;
  justify-content:flex-end;
  height: 30px;
  width: 100%;
  font-size: 25px;
  font-weight: bold;
  margin-top: -4px;
}
nav main:hover{
  background-color: #f5f5f5;
  color: #06066a;
  transition: all ease-in-out 0.2s;
  cursor: pointer;
}


/* main section */
.main{
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  height: auto;
  right: 0;
  left: 0;
  row-gap: 30px;
  column-gap: 10px;
  padding: 10px;
}

section{
  background-color: #06066a;
  height: 350px;
  border-radius: 10px;
  width: 300px;
  padding: 5px;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.img{
  background-color: yellow;
  height: 180px;
  width: 90%;
}
section p{
  font-size: 18px;
  font-weight: bold;
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sec span{
  background-color: #fff;
  height: 30px;
  width: 30px;
  display: flex;
  border-radius: 15px;
  margin-right: 5px;
}
.sec a{
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
}

section:hover{
  transform: scale(1.045);
  cursor: pointer;
  transition: all ease-in-out 0.2s;
  opacity: 0.9;
}
.sec a:hover{
  color: #06066a;
  cursor: pointer;
  text-decoration: underline;
  transition: all ease-in-out 0.2s;
}

/* titles */
.title1{
  margin-top: 71px;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0;
  right: 0;
  height: 40px;
  font-size: 25px;
  font-weight: bold;
  text-decoration: underline;
  color: #06066a;
}
.title1.first{
  margin-top: 110px;
}

/* marquee */
.marquee{
  display: flex;
  align-items: center;
  justify-content: center;
  top: 60px;
  height: 40px;
  color: #020024;
  position: fixed;
  right: 0;
  left: 1px;
  border-bottom: #b7b0ff dotted 1px;
  z-index: 50;
  background-color: #ffffff;
}
marquee{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  overflow: hidden;
  margin-left: 8px;
  margin-right: 8px;
}