*{
  box-sizing: border-box;
  margin: auto;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding: auto;
}

body{
  background-color: #fff;
}
.logo{
  height: 30px;
  border-radius: 50%;
}
/* registration */
nav{
  background-color: #06066a;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 500;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 60px;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  border-bottom: dotted rgb(21, 126, 126) 1px;
}
nav p{
  text-transform: uppercase;
  font-size: 25px;
  background-image: linear-gradient(to right, #ffff00 0%, #d0d025 25%, #d2d284 50%, #ffff1f 75%, #ffff00 100%);
  background-size: 30%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color:transparent;
  display: flex;
}

/* nav button */
nav button{
  height: 38px;
  width: 106px;
  cursor: pointer;
  background-color: #f5f5f5;
  border: none;
  border-radius: 20px;
  font-weight: bold;
  font-size: 18px;
  white-space: nowrap;
  position: relative;
}
nav button a{
  display: flex;
  align-items: center;
  justify-content: center;
  color: #06066a;
  text-decoration: none;
  z-index: 100;
  height: 38px;
  position: relative;
}
nav button a:hover{
  z-index: 500;
  color: #060152;
  transition: all 0.2s ease-in-out;
}
nav button::after{
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  /* background: #caffed; */
  background: #ffd890;
  transition: all 0.2s  ease-in-out;
  border-radius: 18px;
}
nav button:hover:after{
  height: 100%;
  transition: all ease-in-out 0.3s;
}

nav main{
  font-size: 22px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 36px;
  padding: 2px 8px;
  border-radius: 2px;
  position: relative;
}
nav .drop-down a{
  text-decoration: none;
  color: #fff;
   display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 80%;
  font-size: 18px;
  border-radius: 4px;
}
nav .drop-down a:hover{
  transition: all ease-in-out 0.2s;
  color: #06066a;
  background-color: #f5f5f5;
}
nav .drop-down{
  background-color: #06066a;
  position: absolute;
  top: 0;
  margin-top: -200%;
  width: 300px;
  height: 300px;
  padding: 10px;
  border-radius: 4px;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.drop-down h4:hover{
  color: yellow;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.drop-down #close{
  display: flex;
  align-items: center;
  justify-content:flex-end;
  height: 30px;
  width: 100%;
  font-size: 25px;
  font-weight: bold;
  margin-top: -4px;
}
nav main:hover{
  background-color: #f5f5f5;
  color: #06066a;
  transition: all ease-in-out 0.2s;
  cursor: pointer;
}


/* main section */
.main{
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  height: auto;
  right: 0;
  left: 0;
  row-gap: 30px;
  column-gap: 10px;
  padding: 10px;
}

section{
  background-color: rgba(0, 0, 0, 0.2);
  height: 350px;
  border-radius: 10px;
  width: 300px;
  padding: 5px;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.img{
  background-color: rgb(236, 233, 233);
  height: 180px;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.img img{
    height: 180px;
    width: 100%;
    border-radius: 5px;
}
section p{
  font-size: 18px;
  font-weight: bold;
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sec span{
  background-color: #fff;
  height: 30px;
  width: 30px;
  display: flex;
  border-radius: 15px;
  margin-right: 5px;
}
.sec a{
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
}

section:hover{
  transform: scale(1.045);
  cursor: pointer;
  transition: all ease-in-out 0.2s;
  opacity: 0.9;
}
.sec a:hover{
  color: #06066a;
  cursor: pointer;
  text-decoration: underline;
  transition: all ease-in-out 0.2s;
}

/* titles */
.title1{
  margin-top: 71px;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0;
  right: 0;
  height: 40px;
  font-size: 25px;
  font-weight: bold;
  text-decoration: underline;
  color: #06066a;
}
.title1.first{
  margin-top: 110px;
}

/* marquee */
.marquee{
  display: flex;
  align-items: center;
  justify-content: center;
  top: 60px;
  height: 40px;
  color: #020024;
  position: fixed;
  right: 0;
  left: 1px;
  border-bottom: #b7b0ff dotted 1px;
  z-index: 50;
  background-color: #ffffff;
}
marquee{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  overflow: hidden;
  margin-left: 8px;
  margin-right: 8px;
}


/* scroll bar */
::-webkit-scrollbar{
  width: 16px;
  border-left: #a7a0ee solid 1px;
  border-right: #020022 solid 1px;
}
::-webkit-scrollbar:horizontal{
  height: 14px;
}
::-webkit-scrollbar-thumb {
    background: linear-gradient(to right,#003B7C, #00538B, #83BBE6); 
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:horizontal {
    background: linear-gradient(to bottom,#003B7C, #00538B, #83BBE6); 
    border-radius: 10px;
    resize: both;
}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #003B7C; 
    border-radius: 10px;
    background: rgb(240, 240, 240);
    border-left: 6px solid rgba(255,255,255,0);
    border-right: 6px solid rgba(255,255,255,0);
    background-clip: content-box;
}
::-webkit-scrollbar-track:horizontal {
    box-shadow: inset 0 0 5px #003B7C; 
    border-radius: 10px;
    background: rgb(240, 240, 240);
    border-top: 5px solid rgba(255,255,255,0);
    border-bottom: 5px solid rgba(255,255,255,0);
    background-clip: content-box;
}

::-webkit-resizer{
  resize: both;
  overflow: scroll;
}


::-webkit-scrollbar-button {
    border-style: solid;
    height: 16px;
    width: 16px;
}

::-webkit-scrollbar-corner{
  background-color: #060152;
}

::-webkit-scrollbar-button:vertical:decrement {
    border-width: 0 8px 12px 8px;
    border-color: transparent transparent #003B7C transparent;
}
::-webkit-scrollbar-button:horizontal:decrement {
    border-width: 7px 12px 7px 0;
    border-color: transparent #003B7C transparent transparent;
}

::-webkit-scrollbar-button:vertical:decrement:hover {
    border-color: transparent transparent #0069d8  transparent;
}
::-webkit-scrollbar-button:horizontal:decrement:hover {
   border-color: transparent #0069d8 transparent transparent;
}

::-webkit-scrollbar-button:vertical:increment {
    border-width: 12px 8px 0 8px;
    border-color: #003B7C transparent transparent transparent;
}
::-webkit-scrollbar-button:horizontal:increment {
    border-width: 7px 0 7px 12px;
    border-color: transparent transparent transparent #003B7C;
}

::-webkit-scrollbar-button:vertical:increment:hover {
    border-color: #0069d8 transparent transparent transparent;
}
::-webkit-scrollbar-button:horizontal:increment:hover {
    border-color: transparent transparent transparent #0069d8;
}